@tailwind base;
@tailwind components;
@tailwind utilities;





body {
  font-family: "Poppins", monospace;
}

/* In your global CSS file or Tailwind CSS configuration */
@layer utilities {
  .border-l-gradient-blue {
    border-left: 4px solid transparent;
    border-image: linear-gradient(to bottom, #3b82f6, #2563eb);
    border-image-slice: 1;
  }
}

.App {
  text-align: center;
}

#particles canvas {
  z-index: -1;
  height: 100%;
  width: 100%;
  position: absolute;
}
