@tailwind base;
@tailwind components;
@tailwind utilities;

/* fonts.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
  font-family: 'Poppins', monospace;
}



.App {
  text-align: center;
}


#particles canvas {
  z-index: -1;
  height: 100%;
  width: 100%;
  position: absolute;
}